*.asv
*.DS_Store
*/report.aux
01-LinearRegression/report/report.log
01-LinearRegression/report/report.synctex.gz
01-LinearRegression/report/report.out
01-LinearRegression/report/report.aux
99-summary/ml-summary-ganzm.synctex.gz
99-summary/ml-summary-ganzm.aux
03-textclassification/report/report.aux
03-textclassification/report/report.out
03-textclassification/report/report.synctex.gz
